:root {
    --dark1: #111111;
    --dark2: #555555;
    --dark3: ;
    --dark4: ;
    --light1: ;
    --light2: ;
    --light3: ;
    --orange: ;
    --pink: ;
    --green: ;
    --red: ;
    --light-green: ;
    --light-orange: ;
}